* {
  box-sizing: border-box;
}

.main {
  background-color: #fff;
  display: flex;
  margin-bottom: 20px;
  position: relative;
  padding: 20px 0 60px;
  flex-direction: column;

  &__content {
    display: flex;

    &_tiles {
      flex-wrap: wrap;
      gap: 25px;
      align-items: center;
      justify-content: center;
    }

    &_list {
      flex-direction: column;
      padding-left: 20px;
    }
  }

  &__article {
    width: 500px;
    margin: 0 auto;
    border: 1px solid red;
  }
}

@media (min-width: 480px) {
  .main {

    flex-direction: row;
  }
}