* {
  box-sizing: border-box;
}

.main {
  background-color: #fff;
  display: flex;
  position: relative;
  padding: 20px 0 0;
  flex-direction: column;

  &__content {
    display: flex;

    &_tiles {
      flex-wrap: wrap;
      gap: 25px;
      align-items: center;
      justify-content: center;
    }

    &_list {
      flex-direction: column;
      padding-left: 20px;
    }
  }

  &__article {
    width: 500px;
    margin: 0 auto;
    border: 1px solid red;
  }
  &__load-button{
    align-items: center;
    background-color: #317773;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0 0 180px;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: 200px;



    &:hover,
    &:focus {
      border-color: rgba(0, 0, 0, 0.15);
      box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
      color: rgba(0, 0, 0, 0.65);
    }

    &:hover {
      transform: translateY(-1px);
    }

    &:active {
      background-color: #F0F0F1;
      border-color: rgba(0, 0, 0, 0.15);
      box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
      color: rgba(0, 0, 0, 0.65);
      transform: translateY(0);
    }
  }
}

@media (min-width: 480px) {
  .main {

    flex-direction: row;
  }
}