.layout-main{
  display: flex;
  height: 100%;
  padding-top: 120px;
  font-family: 'Roboto Mono', monospace;
  position: relative;
  &__children{
    background-color: #fff;
    padding-bottom: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

}
@media (max-width:450px) {
  .layout-main{
    display: block;
    &__children{
      background-color: #fff;
      padding-bottom: 40px;
    }

  }
}