@import "src/assets/variables/colors.scss";

.header{
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 1340px;
  z-index: 100;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  &__link{
    text-decoration: none;
  }
  &__logo{
    font-size: 35px;
    font-weight: bold;
    color: $main-color;
    &_right{
      font-size: 50px;
      color: $accent-color;
    }
  }

}