.side-menu{
  margin-top: 40px;
  padding: 10px 10px 0;
  height: 50vh;
  border-right: 2px solid rebeccapurple;
  &__item{
    padding: 10px;
    border: 2px solid rebeccapurple;
    border-radius: 10px;
    max-width: 150px;
    margin-bottom: 20px;
    color: rebeccapurple;
    display: flex;
    align-items: center;
  }
  &__flag{
    height: 20px;
    margin-right: 10px;
  }
  &__link{
    text-decoration: none;
  }
}
@media (max-width: 500px) {
  .side-menu{
    display: none;
  }

}