.footer{
  background: #aaa;
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom:0;
  width: 100%;
  max-width: 1340px;
  padding:20px;
  font-family: 'Roboto Mono', monospace;
  @media (max-width: 500px) {
    height: 72px;
  }
}
